*{
    margin: 0;
    padding: 0;
    /* display:block; */
    box-sizing: border-box;
}
.container{
   padding:0 1rem;
}
.container-center{
    max-width:1000px;
    margin:auto;
}
.heading,.footer{
    padding:2rem;
    background-color: rgb(226, 176, 26);
}
.footer{
    position:absolute;
    width:100%;
    bottom:0;
    text-align: center;
}
#txt-input{
    width:50%;
    margin:1rem 1rem 0 1rem;
    padding:1.5rem;
    height:20vh;
    
}
#btn-translate{
    margin:1rem;
    padding:.5rem;
    border-radius: 2rem;
    color: white;
    background: #000;
}

#txt-output{
    width:50%;
    height:20vh;
    padding:1.5rem;
    margin:1rem;
    border: 1px solid black;
}
p{
    font-size: 1.5rem;
    margin:0 2rem ;
}